{{- $decrypt_secret_key_script_path := joinPath .chezmoi.sourceDir "setup" "decrypt_secret_key.sh" -}}
{{- $encrypted_secret_key_path := joinPath .chezmoi.sourceDir "age_secret_key.age" -}}
{{- output "sh" $decrypt_secret_key_script_path $encrypted_secret_key_path -}}
{{- $secret_key_path := joinPath .chezmoi.homeDir ".config" "chezmoi" "age_secret_key" -}}
{{- $public_key := $secret_key_path | include | replaceAllRegex "(.|\n)*public key: (.+)(.|\n)*" "$2" -}}

{{- $usage := "" -}}
{{- $usage_number := promptIntOnce . "usege_number" "Select your usage.\n1: Private\n2: Work\n" 0 -}}
{{- if eq $usage_number 1 -}}
{{-   $usage = "private" -}}
{{- else if eq $usage_number 2 -}}
{{-   $usage = "work" -}}
{{- else -}}
{{-   writeToStdout "Invalid number." -}}
{{-   exit 1 -}}
{{- end -}}

encryption = "age"
[age]
    identity = {{ $secret_key_path | quote }}
    recipient = {{ $public_key | quote }}
[edit]
    command = "code"
    args = ["--wait"]
[data]
    usage = {{ $usage | quote }}
